# Logs
logs
*.log

# dotenv environment variable files
.env

# Foundry 
out
cache_forge
lcov.info
coverage
broadcast

# Mac
.DS_STORE

# Hardhat
artifacts
cache

# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Soldeer
/dependencies
