# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Coverage directory used by tools like istanbul
coverage
*.lcov
lcov.info


# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Foundry
out
cache_forge
broadcast

#Node
node_modules
package-lock.json


# MacOS
.DS_Store