[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
	commit = 4f57c59f066a03d13de8c65bb34fca8247f5fcb2 # Same as https://github.com/Layr-Labs/eigenlayer-contracts/tree/v1.0.3 for compatibility.
[submodule "lib/openzeppelin-contracts-upgradeable"]
	path = lib/openzeppelin-contracts-upgradeable
	url = https://github.com/openzeppelin/openzeppelin-contracts-upgradeable
	commit = 22489db15621b9a42ebddb1facade6962034e9b9
[submodule "lib/safe-smart-account"]
	path = lib/safe-smart-account
	url = https://github.com/safe-global/safe-smart-account
	branch = v1.4.1
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
	commit = 1edc2ae004974ebf053f4eba26b45469937b9381
[submodule "lib/eigenlayer-contracts"]
	path = lib/eigenlayer-contracts
	url = https://github.com/yieldnest/eigenlayer-contracts
	branch = v1.1.1-v4.9.0
