[profile.default]
src = 'src'
out = 'out'
libs = ['lib']
test = 'test'
cache_path  = 'cache'

fs_permissions = [{ access = "read-write", path = "./deployments"}, { access = "read", path = "./"}]

optimizer = false
optimizer-runs = 200
evm_version = "cancun"
solc_version = "0.8.24"

ignored_error_codes = [5159,2018,5574,3860]